<!DOCTYPE html>
<html lang="en">

<head>
    <% include partial/head %>
</head>

<body>
    <% include partial/navbar %>
	
        <div id="top-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-section-1">
                            <ol>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </li>
                                <li>Earum reiciendis obcaecati, veniam laborum quam quaerat veritatis</li>
                                <li>Earum reiciendis obcaecati, veniam laborum quam quaerat veritatis </li>
                                <li>Earum reiciendis obcaecati, veniam laborum quam quaerat veritatis</li>
                                <li>doloremque voluptatum necessitatibus nihil quibusdam culpa perspiciatis</li>
                                <li>aperiam minus laboriosam similique, dignissimos ratione accusamus.</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-section-2">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla commodi explicabo blanditiis laudantium consequatur!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="bottom-section-1">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore neque deleniti aliquid ducimus nemo
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bottom-section-2">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore neque deleniti aliquid ducimus nemo
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bottom-section-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore neque deleniti aliquid ducimus nemo
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bottom-section-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore neque deleniti aliquid ducimus nemo
                        </div>
                    </div>
                </div>
            </div>
        </div>

	<% include partial/footer %>
</body>

</html>
